@keyframes slideIn {
  0% {
    transform: translate(-50%, 100vh);
    // transform: translateX(-50%);
  }
  100% {
    transform: translate(-50%, -50%);
    // transform: translateX(-50%);
  }
}

@keyframes slideOut {
  0% {
    transform: translate(-50%, -50%);
    // transform: translateX(-50%);
  }
  100% {
    transform: translate(-50%, 100vh);
    // transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
