$primary: #b5c0d0;
$secondary: #ccd3ca;
$tertiary: #f5e8dd;
$quaternary: #eed3d9;
$fontPrimary: black;
$fontSecondary: white;
$titleFontSize: 3rem;
$linkFontSize: 2rem;
$paragraphFontSize: 1.8rem;
$bleeding: 10%;
