// Element setup

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: $primary;
  font-size: $linkFontSize;
  padding: 2rem;
  padding-inline: $bleeding;
}
main {
  background-color: $secondary;
  display: grid;
  flex-grow: 1;
  padding-inline: $bleeding;
  padding-block: 2rem;
}

.wrapper {
  margin: auto;
}

footer {
  background-color: $tertiary;
  font-size: $paragraphFontSize;
  padding-inline: $bleeding;
  text-align: center;
  padding: 2rem;
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
}

p,
dt,
dd {
  font-size: 1.8rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: $fontPrimary;
}

form {
  padding: 2rem;
}

button {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 1rem;
  font-size: $linkFontSize;
  border-radius: 1rem;
  margin: 1rem;
}
button:hover {
  transform: scale(1.1);
}

.homepage {
  margin-block: 2rem;
  line-height: 1.5;
  font-size: $paragraphFontSize;
  display: grid;
  gap: 2rem;
}

code {
  padding: 0.5rem;
  font-family: "Courier New", Courier, monospace;
  background-color: $fontPrimary;
  color: $fontSecondary;
}
